body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 50px;
}

h1 {
  color: royalblue;
}

p {
  font-size: 18px;
  color: #333;
}

main {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

main figure {
    line-height: 32px;
}

#gay {
    background-color:azure;
    color: #333;
    padding: 20px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.tttbutton {
  padding: 0;
  width: 64px;
  height: 64px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tttbutton img {
  width: 64px;
  height: 64px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 64px);
  grid-template-rows: repeat(3, 64px);
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: auto;

}

