* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: gakuBold;
    src: url(fonts/IBMPlexSansJP-Bold.ttf) format("truetype");
}

@font-face {
    font-family: gaku;
    src: url(fonts/IBMPlexSansJP-Medium.ttf) format("truetype");
}

.suggestion {
    width: 224px;
    height: 32px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 8px;
}

#inputArea {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#jp {
    margin-top: 64px;
    margin-bottom: 64px;
    text-align: center;
    font-family: "gakuBold", Helvetica;
    font-size: clamp(16px, 5vw, 64px);
    word-break: keep-all;
    overflow-wrap: normal;
}

#en {
    text-align: center;
    margin-bottom: 64px;
    font-family: "gaku", Helvetica;
    font-size: clamp(16px, 5vw, 24px);
}

#input {
    width: 224px;
    height: 32px;
    padding-left: 4px;
}

#submit {
    margin-top: 24px;
    width: 64px;
    height: 32px;
    font-size: clamp(8px, 5vw, 16px);
    vertical-align: middle;
    cursor: pointer;
}

#list {
    position: absolute;
    top: 32px;
}

#error {
    text-align: center;
    position: absolute;
    padding-top: 2px;
    font-size: 12px;
}

#hisory {
    margin-top: 64px;
    text-align: center;
}